@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

:root {
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #000000;
  color: #ffffff;
}
